@font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/Ubuntu-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 17px;
}

body {
    background: #EDF3FF;
    font-family: 'Ubuntu', sans-serif;
}

input {
    font-size: 1rem;
    border: none;
    font-family: 'Ubuntu', sans-serif;
}
input::placeholder {
    color: #889ABD;
}
input:focus,textarea:focus {
    outline: none;
}

button {
    font-family: 'Ubuntu', sans-serif;
}

button:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;
}

.error {
    font-size: 0.7rem;
    color: #EC1B1B;
    margin-left: 26px;
    font-weight: 600;
    margin-bottom: 15px;
    visibility: hidden;
}